.container {
    margin: 4em 10vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container-heading {
    display: flex;
    justify-content: flex-end;
}

.container-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container-entry {
    display: grid;
    align-items: center;
    background-color: var(--level-0);
    border-radius: 1em;
    cursor: pointer;
    transition: background-color ease 300ms;
}

.container-entry:hover {
    background-color: black;
}

.container-entry > ul {
    margin: 0.5em 0;
}

.container-list :nth-child(1) > ul {
    margin: 0;
}

ul {
    display: grid;
    grid-template-columns: [name] 2fr [repository] 2fr [token] 1fr [last-activity] 2fr;
}

li {
    display: flex;
    list-style: none;
    vertical-align: center;
    align-items: center;
}

.public-key-container {
    display: flex;
    align-items: stretch;
    gap: 1em;
    justify-content: space-between;
}

.public-key-container :nth-child(1) {
    flex-grow: 2;
}

.createDronePopup {
    display: flex;
    flex-direction: column;
}

.createDronePopup > label {
    margin-bottom: 0.5em;
}

.createDronePopup > input {
    margin-bottom: 0.75em;
}

.createDronePopup > button {
    margin-top: 1.75em;
}

.drone-stats-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.drone-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.drone-stats-canvas {
    width: 60vw;
}

.drone-stats-controls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}