.container {
    margin: 4em 10vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container-heading {
    display: flex;
    justify-content: flex-end;
}

.container-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container-entry {
    background-color: var(--primary);
    border-radius: 1.1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-entry:hover {
}

.container-entry > div {
    display: grid;
    align-items: center;
    background-color: var(--level-0);
    border-radius: 1em;
    cursor: pointer;
    transition: all ease 300ms;
    width: 100%;
}

.container-entry:hover > div {
    background-color: black;
    width: calc(100% - 3em);
}

.container-entry:hover > .delete-button {
    width: 6em;
}

.container-entry > div > ul {
    margin: 0.5em 0;
}

.container-list :nth-child(1) > div > ul {
    margin: 0;
}

.delete-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 0;
    overflow: hidden;
    transition: width ease 300ms;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button > svg {
    width: 2em;
    height: fit-content;
}

ul {
    display: grid;
    grid-template-columns: [name] 2fr [repository] 2fr [token] 1fr [last-activity] 2fr;
}

li {
    display: flex;
    list-style: none;
    vertical-align: center;
    align-items: center;
}

.public-key-container {
    display: flex;
    align-items: stretch;
    gap: 1em;
    justify-content: space-between;
}

.public-key-container :nth-child(1) {
    flex-grow: 2;
}

.createDronePopup {
    display: flex;
    flex-direction: column;
}

.createDronePopup > label {
    margin-bottom: 0.5em;
}

.createDronePopup > input {
    margin-bottom: 0.75em;
}

.createDronePopup > button {
    margin-top: 1.75em;
}

.drone-stats-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.drone-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.drone-stats-canvas {
    width: 60vw;
}

.drone-stats-controls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.confirm-dialog {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}