:root {
    --level-0: #090909;
    --level-1: #282828;
    --level-2: #363636;
    --level-3: #505050;

    --primary: #0cf;

    --text: #fff;
    --text-disabled: #ddd;

    color: var(--text);
}

@font-face {
    font-family: "Roboto-Light";
    src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('/fonts/Roboto-Regular.ttf');
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    font-family: Roboto-Regular, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: clip;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto-Thin, sans-serif;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.icon {
    width: 4em;
    height: fit-content;
    fill: var(--text);
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
    transition: all ease 500ms;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

