.input {
    color: var(--text);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text);
    font-size: 1em;
    outline: none;
    padding: 0.25em;
}

.button {
    padding: 0.25em;
    font-size: 1em;
    color: var(--text);
    border-radius: 0.5em;
    box-shadow: 0 0 1em -0.5em var(--primary);
    background: transparent;
    border-bottom: 2px solid var(--text);
    transition: box-shadow ease 500ms;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 1em 0 var(--primary);
}

.button:active {
    transform: translate(2px, 2px);
}
