[Unit]
Description=vinculum
After=network.target

Wants=postgresql.service
After=postgresql.service

[Service]
Type=simple

User=vinculum
Group=vinculum

RuntimeDirectory=vinculum
LogsDirectory=vinculum
StateDirectory=vinculum
StateDirectoryMode=0750
ConfigurationDirectory=vinculum
ConfigurationDirectoryMode=0750

MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictRealtime=yes
RestrictNamespaces=~user
InaccessiblePaths=/boot
PrivateUsers=yes
PrivateDevices=yes
CapabilityBoundingSet=
ProtectClock=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
PrivateTmp=yes
RestrictSUIDSGID=yes
NoNewPrivileges=yes
LockPersonality=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=noaccess
ProtectSystem=yes
ProtectHostname=yes
RemoveIPC=yes
ProtectControlGroups=yes
SystemCallArchitectures=native

WorkingDirectory=/var/lib/vinculum/
ExecStart=/usr/local/bin/vinculum start

Restart=always
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target